.DeleteTodo{
    background: rgb(255, 54, 67, 0.4);
    overflow: hidden;
    height: 0;
    transition: height 200ms ease-out;
}

.DeleteTodo:global(.active){
    height: 40px;
}

.DeleteTodo:not(:last-child){
    border-bottom: #051A29 1px solid;
}

.DeleteTodo > button{
    padding: 10px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1em;
    background: transparent;
    color: white;
    border: none;
    width: 50%;
    height: 100%;
}

.DeleteTodo > button:first-child{
    border-right: #051A29 1px solid;
}