.Todo{
    padding: 0 0 0 20px;
    background: #283643;
    transition: 0.3s;
    height: 50px;
}

.Todo:global(.delete-mode){
    background: rgba(255, 54, 67, 0.4);
}

.Todo:not(:last-child){
    border-bottom: #051A29 1px solid;
}

.Todo:global(.todo-state-enter){
    overflow: hidden;
    height: 0;
}

.Todo:global(.todo-state-enter-active){
    height: 50px;
    transition: height 200ms ease-in;
}

.Todo:global(.todo-state-leave),
.Todo:global(.todo-state-leave) + :global(.DeleteTodo){
    overflow: hidden;
}

.Todo:global(.todo-state-leave-active),
.Todo:global(.todo-state-leave-active) + :global(.DeleteTodo){
    height: 0px;
    transition: height 200ms ease-in;
}

.content > *{
    padding: 10px 0;
}

.checkButton{
    justify-content: flex-end;
    align-self: stretch;
    flex: 1;
}

.checkButton > svg{
    float: right;
    padding-right: 20px;
}

.description{
    flex: 3;
    font-size: 0.9em;
    color: #fbfbfb;
    font-family: "Roboto";
    user-select: none;
    overflow: hidden;
}

.content{
    display: flex;
    align-items: center;
}

.description-input{
    background: none;
    border: none;
    outline: none;
    color: #99A0A6;
}

.edit-mode{
    flex: 0.2;
}

.edit-mode:global(.active):after{
    background: #fbfbfb;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.edit-mode:after{
    content: "";
    display: block;
    background: #051A29;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}

@keyframes blink{
    from{background: #051A29;}
    to{background: #fbfbfb;}
}